@model InfoViewModel
@{ 
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>
<p>
    @Model.Message 
</p>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">На главную</a>

