@model IEnumerable<Booking.Models.User>
@{
    ViewBag.Title = "ss";
}
<table style="border:1px solid black;">
    <tr><td>Id</td><td>Name</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td><td>@item.Name</td></tr>
    }
</table>
